* {
  box-sizing: border-box;
  text-align: center;
}

html, body, main, .App {
  height: 100%;
  background-color: gray;
}

.form-group label {
  display: block;
}

.form-group input, .form-group textarea {
  width: 80%;
  margin: 5px 0;
}

.App {
  border: 3px solid white;
  width: 40%;
  margin: 0 auto;
}

#add-bookmark, .Filter-By{
 margin-bottom: 10px;
}

#bookmark-list-section, #add-bookmark-section {
  padding: 20px 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
 
}

#bookmark-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bookmark-list li {
  margin: 7px 0;
  padding: 5px 0;
  background-color: #e7e7e7;
}

.bookmark-rating {
  float: right;
  margin-right: 15px;
}

.details {
  display: none;
}
@media (max-width: 768px) {
  .App {
    width: 60%;
  }
}

@media (max-width: 425px) {
  .App {
    width: 95%;
  }
  
  #bookmark-list-section, #add-bookmark-section {
    padding: 20px;
  }
}